body {
    background-color: black;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    background-image: url('../imgs/bridge.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: 3px solid grey;
    height: 350px;
}

.banner {
    margin-left: 15%;
    height: 300px;
    width: 70%;
}

h1 {
    background-color: purple;
    color: lavender;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    padding: 30px;
    float: left;
}

nav {
   margin-top: 300px;
    font-size: 20px;
    float: right;
}

nav a {
    color: white;
}

.container {
    background-color: lavender;
    margin-top: 30px;
    margin-left: 15%;
    margin-bottom: 30px;
    width: 70%;
    padding-right: 30px;
    padding-bottom: 40px;
}

.subhead {
    background-color: lavender;
    margin-right: 15px;
    border-bottom: 3px solid grey;
    height: 100px;
    width: 100%;
}

h2 {
    background-color: lavender;
    color: purple;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    padding: 20px;
    float: left;
}

.about {
    margin-top: 20px;
    padding-bottom: 40px;
}

#shades {
    width: 20%;
    height: 20%;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-left: 0px;
    float: left;
}

/* p {
    
} */

.portfolio {
    margin-top: 20px;
    margin-right: 20px;
}

.sample {
    width: 25%;
    height: 25%;
    margin-right: 20px;
}

.contact {

}

footer {
    background-color: purple;
    color: white;
    font-size: 15px;
    text-align: center;
    border-top: 3px solid grey;
    height: 60px;
    padding: 10px;
}

#myname {
    color: white;
}

